@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.chillax {
  font-family: "Chillax", "sans-serif";
}
.montserrat {
  font-family: "Montserrat", "sans-serif";
}

.gradient-text {
  background: linear-gradient(315deg, #00ccff, #d400d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tiptap {
  @apply bg-white p-4 rounded-lg;

  > * + * {
    margin: 10px;
    padding: 20px;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-base font-bold;
  }
  h6 {
    @apply text-sm font-bold;
  }

  p {
    @apply text-base leading-relaxed;
  }

  ul {
    @apply list-disc ml-6;
  }
  ul li p {
    @apply m-0;
  }

  ol {
    @apply list-decimal ml-6;
  }
  ol li p {
    @apply m-0;
  }

  pre {
    @apply rounded-md text-gray-700;
  }
  code {
    @apply whitespace-pre-wrap text-sm p-3 px-4  bg-gray-700 rounded-md text-white block mx-6 my-2;
  }

  hr {
    @apply border-b border-gray-300 my-4;
  }

  a {
    @apply text-blue-600 underline;
  }

  blockquote {
    @apply border-l-4 border-gray-400 pl-4 my-4;
  }
  blockquote p {
    @apply italic;
  }
}
